#### Antes de carregar um banco de dados SQLite, é necessário primeiramente importar a classe `DB` do modulo `db` (esse módulo é uma biblioteca de terceiros e deve ser instalada utilizando o comando `pip install db.py`

In [1]:
from db import DB

## Loading a SQLite database

In [4]:
# Para carregar o banco, é necessário instanciar a classe DB, passando 
# dois parametros. O primeiro é o "filename" que corresponde ao 
# path (string) do arquivo sqlite3, e o segundo parametro chamado 
# "dbtype" se refere a ao tipo do banco, que nesse caso é 'sqlite'
# (string que representa o banco SQLite).

database = DB(filename='resources/logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

## Displaying Database

In [19]:
# O atributo tables retornar um objeto do tipo TableSet
# um pouco semelhante a um DataFrame, com três colunas
# a primeira corresponde a Schema do banco de dados,
# a segunda corresponde a Table, que são as tabelas do banco
# e a terceira corresponde as Culumns (colunas).

database.tables

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

### Get Database Table

In [25]:
# O acesso a tabela faz-se utilizando a notação de ponto,
# no exemplo a seguir, acessamos a tabela log.

tabela = database.tables.log
tabela

+---------------------------------------------------+
|                        log                        |
+---------+---------+--------------+----------------+
| Column  | Type    | Foreign Keys | Reference Keys |
+---------+---------+--------------+----------------+
| id      | integer |              |                |
| path    | text    |              |                |
| user_id | integer |              |                |
| date    | numeric |              |                |
+---------+---------+--------------+----------------+

#### Não é possivel usar indexação em objetos do tipo TableSet pois eles não apresentam o metodo `__getitem__` implementado.

In [26]:
# O exemplo a seguir, irá gera um error:
database.tables['Tables']

TypeError: list indices must be integers or slices, not str

### Transforming all instances of database into a dataframe

In [32]:
# Utilizamos o metodo .all() disponivel em qualquer tabela
# de um objeto TableSet. O metodo retorna um objeto DataFrame 
# com todas as instancias da respectiva tabela salvas no banco
# de dados.
# No exemplo a seguir, montamos um dataframe com todas as
# instancias da tabela log, em seguida usamos o metodo .head()
# para exibir os primeiros 4 itens do dataframe.

dataframe = database.tables.log.all()
dataframe.head()

   id                  path  user_id                 date
0   1                     /        3  2017-01-03T11:41:00
1   2              /pandas/        4  2017-01-03T11:37:00
2   3              /videos/        5  2017-01-03T10:47:00
3   4                     /        2  2017-01-03T11:51:00
4   5  /python-para-zumbis/        5  2017-01-03T10:32:00