# DataFrame

In [1]:
import pandas as pd

## Criando DataFrame

In [2]:
# Criando dataframe somente com os dados
df = pd.DataFrame([
    ['fchollet/keras', 302],
    ['openai/uniiverse', 4350],
    ['pandas-dev/pandas', 8168]
])
df

                   0     1
0     fchollet/keras   302
1   openai/uniiverse  4350
2  pandas-dev/pandas  8168

In [3]:
# O atributo shape retorna a dimensão desse dataframe
df.shape

(3, 2)

#### Criando DataFrame com colunas nomeadas

In [4]:
# Criando dataframe com colunas nomeadas.
# Utiliza-se o parametro columns, pra fornecer uma lista de 
# Valores correspondentes as colunas.
df = pd.DataFrame([
        ['fchollet/keras', 302],
        ['openai/uniiverse', 4350],
        ['pandas-dev/pandas', 8168]
    ], columns=['repository', 'stars'])
df

          repository  stars
0     fchollet/keras    302
1   openai/uniiverse   4350
2  pandas-dev/pandas   8168

## Como Acessar as Colunas

#### o acesso as valores das colunas é feito por meio do seu nome igual a um dicionário python.

In [5]:
df['stars']

0     302
1    4350
2    8168
Name: stars, dtype: int64

In [6]:
df['repository']

0       fchollet/keras
1     openai/uniiverse
2    pandas-dev/pandas
Name: repository, dtype: object

### acessando os valores de um linha

In [7]:
# Utilizace o atributo iloc que recebe como index 
#o valor da linha que deseja ser retornada

# retorando a primeira linha do dataset
df.iloc[0]

repository    fchollet/keras
stars                    302
Name: 0, dtype: object

#### O iloc retorna um dicionario, e partir dele, pode ser acessado os valores de cada coluna, usando o nome dela como index:

In [8]:
# Acessando o valor da coluna repository
df.iloc[0]['repository']

'fchollet/keras'

In [9]:
# Acessando o valor da coluna stars
df.iloc[0]['stars']

302

## Methods

#### Um DataFrame funciona basicamente com um conjunto de series, onde cada coluna possui os metodos disponíveis das instancias de pandas.Series

#### Mean

In [10]:
# Obtendo a media dos valores da coluna stars
df['stars'].mean()

4273.333333333333

#### Median

In [11]:
# Obtendo a mediana dos valores da coluna stars
df['stars'].median()

4350.0

## Import a csv file

In [12]:
# Importando dataset pokemon em formato csv
pokemon = pd.read_csv("resources/pokemon.csv", squeeze=True)
# O metodo head retorna alguns valores do dataframe
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [13]:
# O metodo describe assim como nas Series, retorna algumas informações
# do DataSet
pokemon.describe()

         Pokemon   Type
count        721    721
unique       721     18
top     Barboach  Water
freq           1    105

### Fazendo consultas

#### utiliza-se o atributo .loc passando expressão logica para obter as linhas correspondentes dentro do dataset

In [14]:
# Pegando todos os pokemons do tipo Grass
pokemons_grass = pokemon.loc[pokemon['Type'] == 'Grass']

# Exibindo os 10 primeiros
pokemons_grass.head(5)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
42     Oddish  Grass
43      Gloom  Grass

In [15]:
# Exibindo a quantidade de pokemons do tipo Grass presente no dataset
len(pokemons_grass)

66