In [1]:
import pandas as pd

## Series with lists

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

In [3]:
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

## Series with dictionary

In [4]:
webster = {"Aardvark": "An animal",
          "Banana": "A delicious fruit",
          "Cyan": "A color"}
pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

 ## Assigning a series to a variable

In [5]:
about_me = ["smart", "handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        smart
1     handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

## Attributes

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s.values

array(['smart', 'handsome', 'Charming', 'Brilliant', 'Humble'], dtype=object)

## Methods

In [8]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

#### Sum

In [9]:
s.sum()

8.8000000000000007

#### Product

In [10]:
s.product()

18.095480000000002

#### Mean

In [11]:
s.mean()

2.9333333333333336

## DataSets

#### Import a csv file

In [12]:
pokemon = pd.read_csv("resources/pokemon.csv", usecols = ["Pokemon"], squeeze=True)
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object